.nav {
    overflow: hidden;
    background-color: #222;
    position: fixed;
    top: 0;
    color: white;

    width: 100%;
}
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover{
    background-color: red;
}

body {
 
    margin: 0;
    margin-top: 50px;

}

.formulier {
    padding: 16px;
    margin-top: 30px;
    display: flex;
  
    justify-content: center;


}
.a {
    float: left;
    width: 200px;
}

.ab {display: flex;
    flex-direction: column;
}
form {display: flex;
    flex-direction: row;

}
.gender1 {
    display: flex;
    flex-direction: row;
   ;
    
}
.gender2 {
    margin-left: 90px;
    
}
.groot {
    width: 300px;
}
.gmaps {
    display: flex;
    justify-content: center;

}

iframe {
    width: 90%;
    height: 550px;
}

h1 {
    display: flex;
    justify-content: center;

}
.h11 {
    display: flex;
    justify-content: center;
    margin-bottom: -25px;
}