.nav {
    overflow: hidden;
    background-color: #222;
    position: fixed;
    top: 0;
    color: white;

    width: 100%;
}
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover{
    background-color: red;
}

body {
 
    margin: 0;

}
.formulier {
    padding: 16px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;


}
.a {
    float: left;
    width: 200px;
}

.ab {display: flex;
    flex-direction: row;
}
form {display: flex;
    flex-direction: row;
}

